{% if description %}
    <p>{{ description }}</p>
{% endif %}
{% if embed_url %}
    <iframe src="{{ embed_url }}" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
{% else %}
  <div id="{{ audio_id }}" class="audio-xblock">
    <audio preload="metadata" controls="controls" data-start-time="{{ start_time }}" data-end-time="{{ end_time }}">
      Your browser does not support native <code>audio</code> capabilities!
      {% for source, type in sources %}
        {% if type is None %}
          <source src="{{ source }}" />
        {% else %}
          <source src="{{ source }}" type="{{ type }}" />
        {% endif %}
      {% endfor %}
      {% if transcript_file %}
        <track kind="subtitles" src="{{ transcript_file }}" srclang="en" label="English" default/>
      {% endif %}
    </audio>
    {% if allow_audio_download and audio_download_url %}
      <div class="audio-xblock-download"><a href="{{ audio_download_url }}">Download audio</a></div>
    {% endif %}
  </div>
{% endif %}
